:root {
  --bg-color-section-dark: #f5f4fa;
  --bg-color-card: #FFFFFF;
  --bg-color-footer: #2f303a;
  --bg-color-button: #f5f4fa;
  --bg-color-button-hover: #188CE8;

  --text-color-main: #757575;
  --text-color-heading: #212121;
  --text-color-black: #000000;
  --text-color-white: #ffffff;
  --text-color-footer-address: rgba(255, 255, 255, 0.6);

  --accent-color: #2196f3;

  --gap-card-projects: 30px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
}

/* utility classes */

.heading {
  color: var(--text-color-heading);
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.description {
  margin: 0;

}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* page studio */

/* header */

.page-header {
  border: 1px solid #ECECEC;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-main {
  display: flex;
  align-items: center;
}

.logo {  
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
}
.logo--dark {
  color: var(--text-color-black);
}

.logo--ligt {
  color: var(--text-color-white);
}

.nav-site {
  display: flex;
  margin-left: 93px;
}

.nav-site-item:not(:last-child){
  margin-right: 50px;
}

.nav-site-link {
  display: block;  
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-color-heading);
  text-decoration: none;
}

.nav-site-link.current {
  color: var(--accent-color);
}

.nav-site-link:hover,
.nav-site-link:focus {
  color: var(--accent-color);
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;

}

.contacts-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: var(--text-color-main);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* section */

.section{
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--dark {
  background-color: var(--bg-color-section-dark);
}

.section-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* section hero */

.hero {
  background-color: var(--bg-color-footer);
  text-align: center;
}
.hero  .section-heading {
  width: 696px;
  margin-left: auto;
  margin-right: auto; 
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color-white);
}

.hero-btn {
  padding-top: 10px;
  padding-left: 32px;
  padding-bottom: 10px;
  padding-right: 32px;  
  border-radius: 4px;
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color-white);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--bg-color-button-hover);
}

/* section features */

.features-list{
  display: flex;
  justify-content: space-between;
}

.feature {
  flex-basis: calc((100% - 30px*3)/4);
}

.feature-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* section activities */

.activities-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.activity-img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* section out team */

.team-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-card {
  flex-basis: calc((100% - (30px*3)) / 4);
  background-color: var(--bg-color-card);  
  border-radius: 0px 0px 4px 4px;
}

.team-card-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-card-text{
  padding-top: 30px;
  padding-bottom: 30px;
}

.worker-name {
  margin-bottom: 10px;
  font-weight: 500;
}

/* footer */

.page-footer {
  background-color: var(--bg-color-footer);
}

.contacts {
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-box {
  margin-top: 20px;
}
.address-list {  
  font-style: normal;
  color: var(--text-color-footer-address);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link {
  display: block;
  color: var(--text-color-footer-address);
  text-decoration: none;
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.address-link--white {
  color: var(--text-color-white);
}

/* page portfolio */

/* section portfolio */

.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

.filters-btn {
  padding: 6px 22px;
  background-color: var(--bg-color-button);  
  border: transparent;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--text-color-heading);
}

.filters-btn:hover,
.filters-btn:focus,
.filters-btn:active {
  background-color: var(--accent-color);
  color: var(--text-color-white);
}

.projects-list {  
  display: flex;
  flex-wrap: wrap;  
  margin-top: calc(-1*var(--gap-card-projects));
  margin-left: calc(-1*var(--gap-card-projects));
}

.projects-item {
  flex-basis: calc(100%/3 - var(--gap-card-projects));
  margin-top: var(--gap-card-projects);
  margin-left: var(--gap-card-projects);
}

.project-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.project-text{
  padding: 20px 24px;  
  border: 1px solid #EEEEEE;
  border-top: transparent;
}

.project-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color-main);
}
